{% extends 'base.html' %}



{% block content %}

    <h1>Snack list</h1>
    <!-- <h3> {{object_list}} </h3> -->
    {% for snack in AllSnacks %}
    <div id="snackcard">
        <h3 id="cardname"> {{snack.name}} </h3>
        <button type="button" id="Buttons"><a href="{% url 'snack_detail' snack.id %}">snakes detail</a></button>
        <button type="button" id="Buttons"><a href="{% url 'snack_update' snack.id %}">Update</a></button>
        <button type="button" id="Buttons"><a href="{% url 'snack_delete' snack.id %}">Delete</a></button>
        <img src="{{snack.img_url}}" alt="{{snack.name}}" id="img" />
    </div>
    {% endfor %}


{% endblock content %}